*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif !important;
}
.price-check{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    background-color: rgb(228, 226, 223);
    padding: 2%;
    position: relative;
}
.allosh-img{
    position: absolute;
    top:0px;
    margin-top: 10px;
}
.allosh-img img{
    width: 250px;
    object-fit: cover;
}
.add-item{
    position: absolute;
    width: 155px;
    height: 55px;
    bottom: 100PX;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.numbers-field{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: 10% 0;
    grid-template-rows: repeat(4,50px);

}
input{
    padding: 2%;
    width: 250px;
}
.control-numbers{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 50px;

}
.numbers-field button,
.control-numbers button{
    margin: 5px;
    border-radius: 7px;    
}
.hide{
    display: none !important;
}
.show{
    display: block;    
}
.show-flex{
    display: flex;
}
table{
    border-collapse: collapse;
    margin: 2% 0% 2% 2.5%;
}

tr th{
    width: calc(100% / 4);
    border: 2px solid black;
}
td{
    text-align: center;
    border: 2px solid black;

}
.add-item{
    bottom: 5px;
}
.table-footer{
    min-height: 230px;
    position: relative;
    padding: 15px;
    background-color: rgb(228, 226, 223);
}
.table-footer input{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.table-footer div{
    width: 100%;
    display: flex;
    height: 120px;
    align-items: center;
    padding: 15px;
    background-color: rgb(228, 226, 223);
    justify-content: space-between;
}
.total,
.total span{
    display: block;
    font-size: xx-large;
}
.total span{
    padding: 0 5px;
}
td button{

    margin: 5px;
    padding: 7px;

}
.table-footer button{
    height: 100%;
    background-color: #eee;
    font-size: larger;
    text-transform: capitalize;
    width: 200px;
    border-radius: 5px;
    justify-content: space-between;
}
button{
    cursor: pointer;
}
.table-footer button:hover{
    background-color: #cbc8c8;
}

@media (max-width:767px) {
    .table-footer button{
        font-size: large !important;
        width: 120px !important;
        line-height: 1.6;     
    }
    .total,
    .total span{
        font-size: x-large !important;
    }
}

/* animation part */

.spans span{ 
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: relative;

}
.first{
    animation: move 2s ease-in-out 1.3s infinite;
    }
.second{
    animation: move 2s ease-in-out 1.5s infinite;
}
.third{
    animation: move 2s ease-in-out 1.7s infinite;
}
.spans span::before{ 
    content: "";
    position: absolute;
    top: 9%;
    width: 85%;
    height: 85%;
    background-color: rgb(20, 16, 234);
    border-radius: 100%;
    left: 9%;


}
.my-loading{
    animation: return 1.2s ease-in-out 0s 1;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
@keyframes return {
    0%{
        transform: translateX(-100%);
    }   

    100%{
        transform: translateX(0%);
    }
}

@keyframes move {
    0%{
        transform: translateY(0px);
    }   

    50%{
        transform: translateY(-45px);

    }

    100%{
        transform: translateY(0px);
    }
}
